ORPort {{ tor_port }}
Nickname {{ tor_nickname }}
RelayBandwidthRate {{ tor_bandwidth_rate }}
RelayBandwidthBurst {{ tor_bandwidth_burst }}
AccountingMax {{ tor_accounting_max }}
AccountingStart {{ tor_accounting_start }}
ContactInfo {{ tor_contact_info }}
MyFamily {{ tor_my_family }}
ExitPolicy {{ tor_exit_policy }}
